// UI settings

@use './base/settings';
@use './base/fonts';

// Components
@use './components/ui/navbar';
@use './components/ui/footer';
// Pages
@use './components/pages/home';
@use './components/pages/products';
@use './components/pages/individualProduct';
@use './components/pages/contact';
@use './components/pages/policy';
@use './components/pages/wishList';
@use './components/pages/checkout';

// General

* {
  margin: 0;
  padding: 0;
  font-family: GothamBook-Regular, sans-serif;
}
