@font-face {
  font-family: 'Sprite-Graffiti-Extras';
  src: url('../../assets/fonts/Sprite-Graffiti-Extras.otf') format('opentype');
  // font-weight: normal;
  // font-style: normal;
}

@font-face {
  font-family: 'Sprite-Graffiti-Shadow';
  src: url('../../assets/fonts/Sprite-Graffiti-Shadow.otf') format('opentype');
  // font-weight: normal;
  // font-style: normal;
}

@font-face {
  font-family: 'Sprite-Graffiti';
  src: url('../../assets/fonts/Sprite-Graffiti.otf') format('opentype');
  // font-weight: normal;
  // font-style: normal;
}
