// Color palette

$main: #57ebb7;
$secondary: #d31b80;
$tertiary: #140552;
$quaternary: #9f22f6;
$white: rgb(255, 255, 255);
$dark: rgb(27, 27, 27);

// /* Laptops estándar y pantallas de escritorio pequeñas */
// @media (max-width: 1440px) {}
// /* Tablets grandes en modo horizontal (iPad Air, iPad Pro, etc.) */
// @media (max-width: 1280px) {}
// /* Tablets pequeñas y medianas en modo vertical (iPad Mini, Galaxy Tab, etc.) */
// @media (max-width: 1024px) {}
// /* Teléfonos medianos y grandes (iPhone 13/14, Galaxy S23, etc.) */
// @media (max-width: 768px) {}
// /* Smartphones pequeños */
// @media (max-width: 480px) {}
